


@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	margin: 0;
	min-width: 960px;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer{
	padding-left:30px;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#ff61b5;
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	font-size:7em;
	padding-top:5%;
	}
	
#intro ul
{
	padding-left:9%

}

	
#intro ul li 
{
	display:inline;
	width:600px;
	
}

li img
{
	border-radius:10px;
	margin:30px;
}



#header, #intro, #second{
	width: 100%;
}
/* nav */
nav{
	height:5%;
	position:fixed;
	top:0px;
	z-index: 100;
	

}

.nav {
	position: fixed;
    top: 0;
    width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.5em;
	background:white;
}
.nav ul {
	margin: 0;
	padding: 10px;
}
.nav li {
	margin: 0 10px 5px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 6px 32px;
	text-decoration: none;
	color: black;
	line-height: 100%;
}
.nav a:hover {
	color: #000;
}
.nav .current a {;

}


.nav.center ul {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.nav {
		position: relative;
		min-height: 40px;
	}	
	.nav ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}
	
}
#intro{
	background:#62ffd4;
	height:100vh;
	margin: 0 auto;
	padding: 0;
	position:absolute;
	top:0px;
	z-index: 500;
}

#second{
	background:#7bcffe;
	height:100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#horse{
	float:left;
	padding-top:15%
	}
	
#third{
	background:#6f72ff;
	height:100vh;

}


#fourth{
	background:#ff61b5;
	height:100vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#work{
	width:1080px;
	margin:auto;
}


#fifith{
	background: #b25be8;
	height:100vh;
	margin: 0 auto;
	padding: 40px 0 0 0;
	
}

#fifith img{
	float:right;
	}
	
#fifthcontent{
	width:960px;
	margin:auto;
}

section{
	width:960px;
	margin:auto;
	font-size:2em;
	text-align:justify;
}

/* TYPOGRAPHY*/
#webdev{
	font-family:Playball;

}

#multi{
	font-family:Playball;

}

#embrace{
	font-family:Playball;
}

#create{
	font-family:Playball;
}

#produce{
	font-family:Playball;
}

#look{
	font-family:Playball;
}

#hidden{
	height:100vh;
	background:#7bcffe;
}
h2{
	padding-top:6%;
	font-size:1.5em;
}

p{
	padding-top:2%
	}
	
#third h2{
color:black;
}

#third p{
font-size:.8em;

}

form{
	width:480px;
	float:left;
}
label {
    width:60px;
    font-size:12px;
    line-height:24px;
    font-weight:bold;

}

input {
	width:182px;
}



.boxgrid{
    width: 325px;
    height: 260px;
    margin:10px;
    float:left;
    background:#161613;
    zborder: solid 2px #8399AF;
    overflow: hidden;
    position: relative;
}

.boxgrid img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
}

.boxgrid p{ 
	padding: 0px 10px; 
	color:#afafaf; 
	font-weight:bold; 
	font:10pt "Lucida Grande", Arial, sans-serif; 	
}

.boxcaption{
    float: left;
    position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }	
	
 .captionfull .boxcaption {
    top: 260px;
    left: 0;
}
.caption .boxcaption {
    top: 220px;
    left: 0;
} 
