@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end CSS reset*/
body{
	margin: 0;
	min-width: 960px;
	padding: 0;
}
/* FOOTER*/
footer{	
	height:5%;
	
}

footer p{
text-align:center;
font-size:1.5em;
padding:3px;
font-family: 'Open Sans', sans-serif;
}

#thanks footer{
position:absolute;
background:white;
width:100%;
bottom:0;
}
/* END FOOTER*/

/* TYPOGRAPHY*/
body {
   font-size: 18px;
}
h1,h2,h3 {
   line-height: 1;
}
h1{
	font-size:5em;
	padding-top:5%;
	text-align:left;
	font-family: 'Abril Fatface', cursive;
	color:white;
	}
	
#thanks h1{
text-align:center;
}

h2{
	padding-top:6%;
	font-size:35px;
	font-family: 'Abril Fatface', cursive;
}

h3{
	width:50%;
}

p{
	padding-top:2%;
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;
	text-align:justify;
}

#soon p{
	font-size:20px;
	padding:10px
	}

#thanks p{
text-align:center;
font-size:1.5em;
}
/* END TYPOGRAPHY*/
	
#intro ul li 
{
	display:inline;
	width:960px;
	padding-right:5%;
}


#header, #intro, #second{
	width: 100%;
}
/*GRAPHICS*/
#me{
	float:right;
	margin-top:-70px;
	border-radius:10px;
	}

li img
{
	border-radius:10px;
}
/*END GRAPHICS*/

#fifthcontent{
	width:960px;
	margin:auto;
}

section{
	width:960px;
	margin:auto;
	font-size:2em;
	text-align:justify;
}


/*FORM*/
form{
	width:480px;
	float:left;
}

label {
    width:60px;
    font-size:12px;
    line-height:24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

textarea{
	width:300px;
	height:300px;
	border-radius:10px;
}

input {
	width:300px;
	border: 1px solid black;
	border-radius:10px;
}

input.button {
	width:150px;
	margin-top:10px;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}  
/*END FORM*/

/*GALLERY*/
#gallery{
width:960px;
margin:auto;}

.boxgrid{
    width: 300px;
    height: 240px;
    margin:10px;
    float:left;
    background:#161613;
    overflow: hidden;
    position: relative;
}

.boxgrid img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
}

.boxgrid p{ 
	padding: 0px 10px; 
	color:white; 
	font-weight:bold; 
	font-family: 'Open Sans', sans-serif;	
}

.boxgrid h3{
	color:white;
	width:100%;
	padding-left:10px;
}

.sitelink{
color:white!important;
}

.boxcaption{
    float: left;
    position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }	
	
 .captionfull .boxcaption {
    top: 240px;
    left: 0;
}

/*END GALLERY*/
/* NAV */
nav{
	height:5%;
	position:fixed;
	top:0px;
	z-index: 100;
}
.nav {
	font-size:1.5em;
	position: fixed;
    top: 0;
    width:100%;
	font-family: 'Open Sans', sans-serif;
	background:white;
}

.nav ul {
	margin: 0;
}

.nav.center ul {
	text-align: center;
}

.nav li {
	margin: 0 10px 5px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	padding:5%;
	padding-top:0%;
}

.nav a {
	text-decoration: none;
	color: black;
	line-height: 100%;
}
/*NAV EFFECTS*/
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/*END NAV*/

#heading{
width:960px;
margin:auto;
}

#intro{
	background:#62ffd4;
	height:100vh;
	position:absolute;
	top:0px;
	z-index: 500;
	width:100%;
}

#intro ul li 
{
	display:inline;
}

#second{
	background:#7bcffe;
	min-height:100vh;
	height:auto;
}

#third{
	background:#6f72ff;
	min-height:100vh;
	height:auto;
}

#fourth{
	background:#ff61b5;
	min-height:100vh;
	height:auto;
}


#thanks, #fifth{
	background: #b25be8;
	height:95vh;
}

#hidden{
	height:100vh;
	background:#7bcffe;
}

#soon {

}






